header { 
    background-color: black; 
    border: 10px solid black; 
    margin: auto; 
         
} 



.home-about-us-menu-header-section-left-side { 
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    gap: 20px; 

} 

.welcome-container { 
    display: flex; 
    justify-content: center;
}

.welcome-text { 
    color: yellow; 
    font-family: 'Roboto'; 
    /* text-shadow: -21px -14px 2px rgba(28,110,164,0.77); */
    font-size: 96px; 
} 

.to-container { 
display: flex; 
justify-content: center; 
/* text-shadow: -21px -14px 2px rgba(28,110,164,0.77); */
} 

.to-text { 
    color: yellow; 
    font-family: 'Roboto'; 
    font-size: 46px; 
}


.header-text { 
    text-align: center; 
    color: yellow; 
    font-family: 'Roboto', sans-serif;
    /* text-shadow: -21px -14px 2px rgba(28,110,164,0.77); */
}   

.logo-container { 
    display: flex; 
    justify-content: center; 

}

.pic-container { 
    display: flex; 
    flex-direction: row;
    gap: 15px; 
    justify-content: flex-start; 
} 


.address { 
    color: yellow; 

} 

.contact-us-phone-number { 
    color: yellow;
} 

.about-us { 
    text-align: center; 
    font-size: 76px; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: underline;
} 

.about-us-text { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}
.about-us-container { 
    /* display: flex; 
    justify-content: center;  */
    text-align: center;
}

.pic-container { 
    background-color: black; 
}

.mid-section-container { 
    background-color: rgb(218, 147, 54);
    border: 10px solid black; 
}

.review-container { 
    display: flex; 
    flex-direction: column; 

}

.review-1-text { 
    display: flex; 
    flex-direction: column;
} 

.store-container { 
    display: flex; 
    justify-content: center;
}

.align-text-container { 
    text-align: center;
}


.text-container { 
    text-align: center;
}


.what-people-are-saying-text { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 40px; 
    text-decoration: underline; 
}

.review-texts { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-weight: bolder; 
    font-size: 24px; 
} 

.visit-us-text-styling { 
    font-size: 30px; 
    text-decoration: underline; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}




/* For about-us section  */ 































/* li { 
    display: inline-flex; 
    font-size: 18px; 
} 


.header-container { 
background-color: rgb(240, 40, 100); 
border: 10px solid rgb(95, 9, 9)
} 

.header-title {  
display: flex; 
justify-content: center;
}

.header-text { 
    font-size: 66px; 
    font-family: 'Courier New', Courier, monospace;
}


.contact-address-info-header { 
   display: flex; 
   flex-direction: column; 
   justify-content: center; 
   align-items: center;
} 

.description-of-place { 
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-size: 24px;
    text-align: center; 
    font-weight: bold;  
}


/* .address-contact-text { 
   
}  */ */